/obj
/CppCheckResults.xml
/bin/Debug
/bin/Release/Misc
/bin/Release/Data
/bin/Release/Thumbs.db

/bin/Release/AntTweakBar.dll
/bin/Release/DMorglodsRenderTest.exe
/bin/Release/Data2/shadows_test.momesh
/bin/Release/Data2/shadows_test.mtl
/bin/Release/Data2/shadows_test.obj
/bin/Release/PublicTest/AntTweakBar.dll
/bin/Release/PublicTest/Data/Nanosuit.momodel
/bin/Release/PublicTest/Data/Sponza.momodel
/bin/Release/PublicTest/Data/Thumbs.db
/bin/Release/PublicTest/Data/arm_dif.png
/bin/Release/PublicTest/Data/body_dif.png
/bin/Release/PublicTest/Data/env2.jpg
/bin/Release/PublicTest/Data/env64.jpg
/bin/Release/PublicTest/Data/glass_dif.png
/bin/Release/PublicTest/Data/hand_dif.png
/bin/Release/PublicTest/Data/helmet_dif.png
/bin/Release/PublicTest/Data/leg_dif.png
/bin/Release/PublicTest/Data/mramor6x6.png
/bin/Release/PublicTest/Data/nano_sprite_forward.png
/bin/Release/PublicTest/Data/nano_sprite_side.png
/bin/Release/PublicTest/Data/nano_sprite_top.png
/bin/Release/PublicTest/Data/nanosuit_sprite.momodel
/bin/Release/PublicTest/Data/tex/Thumbs.db
/bin/Release/PublicTest/Data/tex/arm_dif.png
/bin/Release/PublicTest/Data/tex/body_dif.png
/bin/Release/PublicTest/Data/tex/glass_dif.png
/bin/Release/PublicTest/Data/tex/hand_dif.png
/bin/Release/PublicTest/Data/tex/helmet_dif.png
/bin/Release/PublicTest/Data/tex/leg_dif.png
/bin/Release/PublicTest/Data/textures/Thumbs.db
/bin/Release/PublicTest/Data/textures/background.tga
/bin/Release/PublicTest/Data/textures/backgroundBGR.tga
/bin/Release/PublicTest/Data/textures/chain_texture.tga
/bin/Release/PublicTest/Data/textures/chain_texture_mask.tga
/bin/Release/PublicTest/Data/textures/gi_flag.tga
/bin/Release/PublicTest/Data/textures/lion.tga
/bin/Release/PublicTest/Data/textures/spnza_bricks_a_diff.tga
/bin/Release/PublicTest/Data/textures/spnza_bricks_a_spec.tga
/bin/Release/PublicTest/Data/textures/sponza_arch_diff.tga
/bin/Release/PublicTest/Data/textures/sponza_arch_spec.tga
/bin/Release/PublicTest/Data/textures/sponza_ceiling_a_diff.tga
/bin/Release/PublicTest/Data/textures/sponza_ceiling_a_spec.tga
/bin/Release/PublicTest/Data/textures/sponza_column_a_diff.tga
/bin/Release/PublicTest/Data/textures/sponza_column_a_spec.tga
/bin/Release/PublicTest/Data/textures/sponza_column_b_diff.tga
/bin/Release/PublicTest/Data/textures/sponza_column_b_spec.tga
/bin/Release/PublicTest/Data/textures/sponza_column_c_diff.tga
/bin/Release/PublicTest/Data/textures/sponza_column_c_spec.tga
/bin/Release/PublicTest/Data/textures/sponza_curtain_blue_diff.tga
/bin/Release/PublicTest/Data/textures/sponza_curtain_diff.tga
/bin/Release/PublicTest/Data/textures/sponza_curtain_green_diff.tga
/bin/Release/PublicTest/Data/textures/sponza_details_diff.tga
/bin/Release/PublicTest/Data/textures/sponza_details_spec.tga
/bin/Release/PublicTest/Data/textures/sponza_fabric_blue_diff.tga
/bin/Release/PublicTest/Data/textures/sponza_fabric_diff.tga
/bin/Release/PublicTest/Data/textures/sponza_fabric_green_diff.tga
/bin/Release/PublicTest/Data/textures/sponza_fabric_spec.tga
/bin/Release/PublicTest/Data/textures/sponza_flagpole_diff.tga
/bin/Release/PublicTest/Data/textures/sponza_flagpole_spec.tga
/bin/Release/PublicTest/Data/textures/sponza_floor_a_diff.tga
/bin/Release/PublicTest/Data/textures/sponza_floor_a_spec.tga
/bin/Release/PublicTest/Data/textures/sponza_roof_diff.tga
/bin/Release/PublicTest/Data/textures/sponza_thorn_diff.tga
/bin/Release/PublicTest/Data/textures/sponza_thorn_mask.tga
/bin/Release/PublicTest/Data/textures/sponza_thorn_spec.tga
/bin/Release/PublicTest/Data/textures/vase_dif.tga
/bin/Release/PublicTest/Data/textures/vase_hanging.tga
/bin/Release/PublicTest/Data/textures/vase_plant.tga
/bin/Release/PublicTest/Data/textures/vase_plant_mask.tga
/bin/Release/PublicTest/Data/textures/vase_plant_spec.tga
/bin/Release/PublicTest/Data/textures/vase_round.tga
/bin/Release/PublicTest/Data/textures/vase_round_spec.tga
/bin/Release/PublicTest/Go.bat
/bin/Release/PublicTest/MorglodsRender.dll
/bin/Release/PublicTest/MorglodsRenderTest.exe
/bin/Release/PublicTest/PublicTest.zip
/bin/Release/PublicTest/glfw3.dll
/bin/Release/PublicTest/libgcc_s_dw2-1.dll
/bin/Release/PublicTest/libstdc++-6.dll
/bin/Release/PublicTest/pthreadGC2.dll
